USE [master]
GO
/****** Object:  Database [KeepiDB]    Script Date: 13/08/2024 00:49:18 ******/
CREATE DATABASE [KeepiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KeepiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KeepiDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KeepiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KeepiDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KeepiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KeepiDB]
GO
/****** Object:  Table [dbo].[PostsTbl]    Script Date: 13/08/2024 00:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostsTbl](
	[Id] [uniqueidentifier] NOT NULL,
	[Date] [date] NOT NULL,
	[Category] [varchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsersTbl]    Script Date: 13/08/2024 00:49:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersTbl](
	[UserName] [nvarchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[Following] [varchar](max) NOT NULL,
	[Followers] [varchar](max) NOT NULL,
	[WalletCount] [int] NOT NULL,
	[ProfilePhoto] [varchar](max) NULL,
	[Id] [uniqueidentifier] NULL,
	[SavedPosts] [varchar](max) NULL,
	[Age] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
